.card-category-list {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
}

.card-category-list li {
    padding: .3rem .5rem;
    border-radius: 12px;
    transition: all .3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.card-category-list li:hover {
    background-color: var(--efu-secondbg);
    padding-left: 1rem;
    border: var(--style-border-hover);
}